@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.all {
	display: grid;
	grid-template-columns: 350px 1fr;
	grid-template-rows: 35% 65%;
	grid-template-areas: 
	
	"contacts menu"
	"my_portfolio menu"
}

.contacts {
	display: flex;
	flex-direction: column;
	grid-area: contacts;
	background: url("images/fr.jpg") no-repeat center;
	background-size: cover;
	padding: 20px 0 20px 20px;
	justify-content: space-around;

}

.mail_link {
	text-decoration: none;
}

.contacts_content {
	display: flex;
	align-items: center;
}

.contacts_logo {
	display: block;
	width: 30px;
	height: 30px;
	margin-right: 20px;
}

.contacts_text {
	text-transform: uppercase;
	font-size: 1em;
	letter-spacing: 3px;
	line-height: 30px;
	color: rgb(12, 32, 32);
	font-weight: 700;
}

.menu {
	display: flex;
	flex-direction: column;
	background: url("images/kirp.jpg") no-repeat center;
	background-size: cover;
	align-items: center;
	grid-area: menu;
	padding-top: 45px;
	padding-bottom: 35px;
	border-left: 5px solid rgb(83, 103, 189);
}

.menu_text {			
	text-transform: uppercase;
	font-size: 1.5em;
	letter-spacing: 1px;
	overflow: hidden;
	background: linear-gradient(90deg, #000, #fff, #000);   
	/* background-repeat: no-repeat; */
	animation-name: animate;
	animation: animate 10s linear infinite;
	background-size: 80%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: rgba(255, 255, 255, 0);
}

.aboutMe {
	text-transform: uppercase;
	font-size: 1.2em;
	letter-spacing: 1px;
	line-height: 30px;
	color: rgb(11, 39, 39);
	word-wrap: break-word;
	text-align: center;
	margin-top: 50px;
	width: 90%;
	font-family: 'Muli', sans-serif;
}

.headline {
	display: flex;
	margin-top: 50px;
	margin-bottom: 20px;
}

.logo_skills {
	width: 70px;
	height: 70px;
	display: inline-block;
	animation: preloader 2s infinite linear;
}

.skills {
	display: inline-block;
	color: rgb(37, 36, 97);
	text-transform: uppercase;
	font-size: 35px;
	letter-spacing: 3px;
	margin: 0 30px;
}

.skills span {
	color: rgb(223, 12, 12);
	font-size: 50px;
}

.item_skill {
	display: flex;
	width: 100%;
}

.skill {
	display: inline-block;
	margin: 15px 15px;
}

.skill img:hover {
	transform: scale(1.2);
	
	border: 3px solid rgb(179, 114, 18);
	box-shadow: inset 0 0 10px 20px rgba(19, 18, 18, 0.5);
}

.skill img {
	width: 70px;
	height: 70px;
	border: 3px solid #22394C;
	box-shadow: 0 0 30px 10px rgba(99, 97, 97, 0.5);
	transition: 0.6s linear;
}

.my_portfolio {
	background: url("images/fire.jpg") no-repeat center;
	background-size: cover;
	grid-area: my_portfolio;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-top: 5px solid rgb(83, 103, 189);
}

.portfolio {
	color: blanchedalmond;
	text-transform: uppercase;
	font-size: 1.4em;
	letter-spacing: 3px;
	margin-top: 65px;
}

.item {
	width: 40%;
}

.list {
	display: flex;
	align-items: center;
}

.list:hover .logo {
	transform: rotateY(180deg);
    transition: 1s; 
}

.list:not(:hover) {
	transition: .6s;
}

.logo {
	width: 30px;
	display: block;
	margin-top: 30px;
	margin-right: 20px;
}

.links:hover {
	color: #000;
	font-weight: 600;
}

.links {
	text-decoration: none;
	text-transform: uppercase;
	margin-top: 30px;
	color: aliceblue;
}

.navigation {
	background: url("images/fon5.jpg") no-repeat center;
	background-size: cover;
	grid-area: navigation;
}


@keyframes animate
{	
	0% {background-position: -1000%;}
    100% {background-position: 1000%;}
}

@keyframes preloader {
    to { transform: rotateY(360deg); }
}